
<div class="bloghead">
  <div class="blogtitle">
    <h1>{{blog.title}}</h1>
  </div>
  <div class="bloginfo">
    <ul>
      <li><i class="fa">&#xf073; {{blog.publishedDate}}</i></li>
      <li><i class="fa">&#xf274; {{blog.readTime}} min</i></li>
      <li><a href="#"><i class="fa">&#xf007; {{blog.authorName}}</i></a></li>
    </ul>
  </div>
</div>
<div class="blogcontent">
  <h2>First Subheading Title</h2>
  <h3>Sub-Heading of the blog</h3>
  <p>This is the content of the blog <a href="#">kahdv </a>in which the information of the blog is given and the author will share all his or her details about the topic of teh blog. This is the content of the blog in which the information of the blog is given and the author will share all his or her details about the topic of teh blog. This is the content of the blog in which the information of the blog is given and the author will share all his or her details about the topic of teh blog.</p><img ng-src="./img/blogs/{{blog.recogId}}/tumblr_nvoumiATey1slhhf0o1_1280.jpg" alt="Blog_Photo"/>
  <h3>Sub-Heading of the blog</h3>
  <p>This is the content of the blog <a href="#">kahdv </a>in which the information of the blog is given and the author will share all his or her details about the topic of teh blog. This is the content of the blog in which the information of the blog is given and the author will share all his or her details about the topic of teh blog. This is the content of the blog in which the information of the blog is given and the author will share all his or her details about the topic of teh blog.</p><img ng-src="./img/blogs/{{blog.recogId}}/tumblr_nuqdnuXigR1tomxvuo3_1280.jpg" alt="Blog_Photo"/>
</div>