
<div class="footer">
  <div class="upper_footer">
    <div class="col_one">
      <p>Follow Us</p>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Google +</a></li>
      </ul>
    </div>
    <div class="col_two">
      <p>Contact Us</p>
      <ul>
        <li><a href="#">contact@tourepedia.com</a></li>
        <li>+91-9909909 900</li>
      </ul>
    </div>
  </div>
  <div class="lower_footer">
    <p>@2015 Tourepedia. All rights reserved.</p>
  </div>
</div>