
<form action="" method="post">
  <div class="form-input-group has-value focused">
    <label for="full-name" class="form-floatlabel">Full name</label>
    <input id="full-name" type="text" name="full-name" required="" class="form-input"/><span class="form-required">*</span>
  </div>
  <div class="form-input-group has-value">
    <label for="email" class="form-floatlabel">Email address</label>
    <input id="email" type="email" name="email" required="" class="form-input"/><span class="form-required">*</span>
  </div>
  <legend class="form-legend">Which best describes your business:<span class="form-required">*</span></legend>
  <div class="form-radio-group">
    <input id="type-app" type="radio" value="Apps" name="type" required="" class="form-radio"/>
    <label for="type-app" class="form-radio-button"></label>
    <label for="type-app" class="form-label">Apps</label>
  </div>
  <div class="form-radio-group">
    <input id="type-game" type="radio" value="Games" name="type" required="" class="form-radio"/>
    <label for="type-game" class="form-radio-button"></label>
    <label for="type-game" class="form-label">Games</label>
  </div>
  <div class="form-radio-group">
    <div class="media">
      <div class="media-figure">
        <input id="add" type="checkbox" name="add" required="" value="Add me to the mailing list for the monthly newsletter and occasional emails about development and Google Play opportunities." class="form-checkbox"/>
        <label for="add" class="form-checkbox-button"></label>
      </div>
      <div class="media-body">
        <label for="add" class="form-label">Add me to the mailing list for the monthly newsletter and occasional emails about development and Google Play opportunities.span.form-required")*</label>
      </div>
    </div>
  </div>
</form>