.campus-special-container(data-ng-controller="CampusSpecialController")
  h2.main-title: span special trips for iitk junta
  ui-view(name="campus-special-options")
  ui-view(name="campus-special-places")
