#fix-plans.fix-plans
  .summery-of-plans.row
    h1 Our Plans
    .col-sm-6
      .plan
        .heading: span Plan
        .content
          ul
            li
              i.fa.fa-2x.fa-map-marker.fa-fw
              span Select your destination.
            li
              i.fa.fa-2x.fa-pencil-square.fa-fw
              span View or customize your plan.
            li
              i.fa.fa-2x.fa-money.fa-fw
              span Fill personal and other trip related information.
            li
              i.fa.fa-2x.fa-credit-card.fa-fw
              span Pay the cost of plan and get your detailed plan in guaranteed 24 hours after the confirmation of payment.
                  
    .col-sm-6
      .plan
        .heading: span Plan &amp; Book
        .content
          ul
            li
              i.fa.fa-2x.fa-hand-o-up.fa-fw
              span Select your destination and view or customize your trips. 
            li
              i.fa.fa-2x.fa-edit.fa-fw
              span Fill personal and other trip related information. We will get in touch in some time.
            li
              i.fa.fa-2x.fa-credit-card.fa-fw
              span After confirmation of trip, pay as per the planned trip in next 48 hours.
            li
              i.fa.fa-2x.fa-ticket.fa-fw
              span Get your detailed plan and related tickets in guaranteed 24 hours after the confirmation of payment. 
  .bottom-line then pack your bags...
              
              
              
              
              
