.sample-plan-container
  .sample-plan
    .row
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/11.jpg" alt="Day 1 Info")
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/12.jpg" alt="Day 2 Info")
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/13.jpg" alt="Day 3 Info")
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/14.jpg" alt="Day 4 Info")
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/15.jpg" alt="Day 5 Info")
      .col-sm-6.col-xs-12
        .image-container
          img(src="./site/img/sample-plan/16.jpg" alt="Day 6 Info")
