.testimonials
  .title Testimonials... Its always nice to hear back. <i class="fa fa-smile-o"></i>
  .testimonials-container.row
    .col-md-6.col-xs-12.pics
      .main-pic
        img(src="./site/img/testimonials/1.jpg" alt="testimonial image")
      .other-pics.row
        .pic1.col-sm-4.col-xs-12
          img(src="./site/img/testimonials/2(2).jpg" alt="testimonial image")
        .pic2.col-sm-4.col-xs-12
          img(src="./site/img/testimonials/3(1).jpg" alt="testimonial image")
        .pic3.col-sm-4.col-xs-12
          img(src="./site/img/testimonials/3(2).jpg" alt="testimonial image")
    .col-md-6.reviews
      .review
        .user-review
          i.fa.fa-quote-left.fa-border.fa-2x.pull-left 
          | visited Darjeeling and Gangtok via Tourepedia.com, an unforgettable experience of my life. 
          | Thanks a lot to Tourepedia.
          p: span.user-name By- Shiva garg
        .user-photo
          img(src="./site/img/testimonials/shiva.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg")
      .review
        .user-review
          i.fa.fa-quote-left.fa-border.fa-2x.pull-left 
          | The Best part of our Shimla-kufri-chail tour was kufri fun world and overall our trip was very well organised by tourepedia. Thanks a lot for an awesome trip. 
          p: span.user-name By- Nanda Kishore
        .user-photo
          img(src="./site/img/testimonials/mondy.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg")
      .review
        .user-review
          i.fa.fa-quote-left.fa-border.fa-2x.pull-left 
          |Had an awesome experience visiting dharamshala and mcleodganj.
          | kudos to tourepedia.
          p: span.user-name By- Suyash Yadav
        .user-photo
          img(src="./site/img/testimonials/suyash.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg")
