.footer
	.upper_footer
		.col_one
			p Follow Us
			ul
				li: a(href="#") Facebook
				li: a(href="#") Twitter
				li: a(href="#") Google +
		.col_two
			p Contact Us
			ul
				li: a(href="#") contact@tourepedia.com
				li +91-9909909 900
	.lower_footer
		p @2015 Tourepedia. All rights reserved.