footer.site-footer
  .footer-container
    .information
      h2 Information
      ul 
       li: a(ui-sref="aboutUs") About Us
       li: a(href="") FAQ
       li: a(ui-sref="privacyPolicies") Privacy Policies
       li: a(ui-sref="termConditions") Terms & Conditions
    .customer-services
     h2 Customer Services
     ul 
       li: a(href="") Cancellation Policies
       li: a(href="") Site Map
    .follow-us 
     h2 Follow Us
     ul
       li: a(target="_blank" href="https://www.facebook.com/tourepedia1") Facebook <i class="fa fa-facebook-f"></i>
       li: a(target="_blank" href="https://twitter.com/tourepedia") Twitter <i class="fa fa-twitter"></i>
       li: a(target="_blank" href="https://plus.google.com/u/0/117918143779041600948") Google  <i class="fa fa-google-plus"></i>
       li: a(target="_blank" href="https://www.linkedin.com/company/tourepedia") Linkedin <i class="fa fa-linkedin"></i>
    .contact-us 
      h2 Contact Us
      ul
        li +91-1130323774
        li +91-9005505374
        li contact@tourepedia.com
     
