
<div data-ng-controller="AmbassadorController" class="campus-ambassador">
  <div class="container">
    <h2 class="title"> <span>Campus Ambassador</span></h2>
    <p class="moti-para">The primary objective for a campus ambassador is to enhance the presence and impact of Tourepedia in the campus. He/she will be required to effectively communicate the vision and plans of Tourepedia to the campus community. This can be achieved using a variety of techniques, the details of which will be conveyed to them regularly. A campus ambassador is also responsible for inspiring people to travel, and provide information regarding Tourepedia’s services for the same.</p>
    <form name="campusAmbassador" novalidate="novalidate" data-ng-submit="submitAmbasodorApplication()">
      <h1>Apply</h1>
      <p> 
        <label>Name</label>
        <input type="text" data-ng-model="applicant.name" required="required" autofocus="autofocus"/>
      </p>
      <p>
        <label>Email</label>
        <input type="email" data-ng-model="applicant.email" required="required"/>
      </p>
      <p>
        <label>Mobile Number</label>
        <input type="number" data-ng-model="applicant.mobileNumber" required="required"/>
      </p>
      <p> 
        <label>College name</label>
        <input type="text" data-ng-model="applicant.college" required="required"/>
      </p>
      <p class="submit">
        <button type="submit" data-ng-disabled="campusAmbassador.$invalid"><i data-ng-show="submittingForm" class="fa fa-spin fa-spinner"> </i>&nbsp; Submit</button>
      </p>
    </form>
  </div>
</div>