
<div id="fix-plans" class="fix-plans">
  <div class="summery-of-plans row">
    <h1>Our Plans</h1>
    <div class="col-sm-6">
      <div class="plan">
        <div class="heading"><span>Plan</span></div>
        <div class="content">
          <ul>
            <li><i class="fa fa-2x fa-map-marker fa-fw"></i><span>Select your destination.</span></li>
            <li><i class="fa fa-2x fa-pencil-square fa-fw"></i><span>View or customize your plan.</span></li>
            <li><i class="fa fa-2x fa-money fa-fw"></i><span>Fill personal and other trip related information.</span></li>
            <li><i class="fa fa-2x fa-credit-card fa-fw"></i><span>Pay the cost of plan and get your detailed plan in guaranteed 24 hours after the confirmation of payment.</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="plan">
        <div class="heading"><span>Plan &amp; Book</span></div>
        <div class="content">
          <ul>
            <li><i class="fa fa-2x fa-hand-o-up fa-fw"></i><span>Select your destination and view or customize your trips. </span></li>
            <li><i class="fa fa-2x fa-edit fa-fw"></i><span>Fill personal and other trip related information. We will get in touch in some time.</span></li>
            <li><i class="fa fa-2x fa-credit-card fa-fw"></i><span>After confirmation of trip, pay as per the planned trip in next 48 hours.</span></li>
            <li><i class="fa fa-2x fa-ticket fa-fw"></i><span>Get your detailed plan and related tickets in guaranteed 24 hours after the confirmation of payment. </span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">then pack your bags...</div>
</div>