
<div data-ng-controller="HomeViewController" class="place-info home">
  <div data-ng-class="{'image1' : firstTime, 'image2' : !firstTime}" class="background-image image1"><img data-ng-src="./site/img/home/{{image1}}" alt="Back Image"/></div>
  <div class="background-image image2"><img data-ng-src="./site/img/home/{{image2}}" alt="Back Image"/></div>
  <div class="place-info-container">
    <div class="center-info-content home-content">
      <div class="top-stand"></div>
      <div class="value">
        <p>The journey of thousand miles starts with one stride.</p>
      </div>
      <div class="bottom-stand">
        <div class="go-down-button"><i class="fa fa-angle-down fa-3x"></i></div>
      </div>
    </div>
  </div>
</div>