
<div class="preplanned-attraction-container">
  <div class="banner-container">
    <div class="image-container row"><img src="./site/img/our-plans/{{ourPlanCurrent.our_trips_img1}}" err-src="./site/img/our-plans/default.png" alt="image" class="col-lg-6"/><img src="./site/img/our-plans/{{ourPlanCurrent.our_trips_img2}}" err-src="./site/img/our-plans/default.png" alt="image" class="col-lg-6"/>
      <div class="description">
        <p>{{selectedPlaceInfo.place_name}}</p>
      </div>
    </div>
    <div ng-init="item = 1" class="row place-info-container">
      <div class="col-xs-3 menu-container">
        <ul>
          <li data-ng-click="item = 1" data-ng-class="{'active':item==1}"><i class="fa fa-info fa-fw">&nbsp;</i><br/><span>About</span></li>
          <li data-ng-click="item = 2" data-ng-class="{'active':item==2}"><i class="fa fa-info fa-fw">&nbsp;</i><br/><span>Travel</span></li>
          <li data-ng-click="item = 3" data-ng-class="{'active':item==3}"><i class="fa fa-info fa-fw">&nbsp;</i><br/><span>Sightseeing</span></li>
          <li data-ng-click="item = 4" data-ng-class="{'active':item==4}"><i class="fa fa-info fa-fw">&nbsp;</i><br/><span>Stay</span></li>
          <li data-ng-click="item = 5" data-ng-class="{'active':item==5}"><i class="fa fa-info fa-fw">&nbsp;</i><br/><span>Terms and conditions</span></li>
        </ul>
      </div>
      <div class="col-xs-9 menu-item-values">
        <div data-ng-show="item == 1" class="about"> {{ourPlanCurrent.our_trips_about[0]}}</div>
        <div data-ng-show="item == 2" class="travel">
          <div data-ng-repeat="travelType in ourPlanCurrent.our_trips_travel" class="travels">
            <h3>{{travelType.travel_method}}</h3>
            <p>{{travelType.travel_about}}</p>
          </div>
        </div>
        <div data-ng-show="item == 3" class="sightseeing">
          <div data-ng-repeat="sightScene in ourPlanCurrent.our_trips_sights" class="travels">
            <h3>{{sightScene.sight_name}}</h3>
            <p>{{sightScene.sight_about}}</p>
          </div>
        </div>
        <div data-ng-show="item == 4" class="stay">
          {{ourPlanCurrent.plan_review}}
          Day wise Accommodation will be in Deluxe Rooms in the City specified as per your plan like- 3 days in X or 2 days in X and 2 days in Y. <br> you will get detailed information in the Blueprint of Trip, which will be given to you if you take a plan or book a trip.
        </div>
        <div data-ng-show="item == 5" class="term-and-conditions">
          <li>Extra Person : Children between 0 to 5 years- complimentary <br></li>
          <li>Meals on travelling is not included in the package and shall be paid by the customer. <br></li>
          <li>Entrance fees at any point shall be paid by customer. <br></li>
          <li>Payment in full must be made at the time of booking your reservation. <br></li>
          <li>No refund for short stay and un-availed facilities. <br></li>
          <li>Package includes all applicable taxes. <br></li>
          <li>Cancellation Policy : <br> </li>
          <li>Plan is non refundable, but you can modify it. 1st time modification in plan is non-chargeable but will be charged for next modification. <br></li>
          <li>for Plan and book i.e. Trip cancellation, fully/partially the following conditions will apply: <br> 60 days or before actual date of trip- 90% refund,60 days to 30 days of actual date of trip- 80% refund, 30 days to 15 days of actual date of trip- 70% refund, 15 days to 7 days of actual date of trip- 60% refund, 7 days to 72 hours from starting time of trip- 50% refund, Less than 72 hours- No refund <br></li>
          <li>For Detailed Terms and conditions refer to the site www.Tourepedia.com</li>
        </div>
      </div>
      <div class="col-xxs-12 proceed-group row">
        <div class="col-xs-6 col-xxs-12"><span ui-sref="planATrip" data-ng-click="processToAddAttraction()" class="valid-form"><i class="fa fa-arrow-left">Go back</i></span></div>
        <div class="col-xs-6 col-xxs-12"><span ui-sref="planATrip.proceed({'planningStage':'personal-information'})" data-ng-click="proceedToAddOurPlan(ourPlanCurrent.our_trips_id)">Proceed</span></div>
      </div>
    </div>
  </div>
</div>