
<div class="sample-plan-container">
  <div class="sample-plan">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/11.jpg" alt="Day 1 Info"/></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/12.jpg" alt="Day 2 Info"/></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/13.jpg" alt="Day 3 Info"/></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/14.jpg" alt="Day 4 Info"/></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/15.jpg" alt="Day 5 Info"/></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-container"><img src="./site/img/sample-plan/16.jpg" alt="Day 6 Info"/></div>
      </div>
    </div>
  </div>
</div>