
<div class="testimonials">
  <div class="title">Testimonials... Its always nice to hear back. <i class="fa fa-smile-o"></i></div>
  <div class="testimonials-container row">
    <div class="col-md-6 col-xs-12 pics">
      <div class="main-pic"><img src="./site/img/testimonials/1.jpg" alt="testimonial image"/></div>
      <div class="other-pics row">
        <div class="pic1 col-sm-4 col-xs-12"><img src="./site/img/testimonials/2(2).jpg" alt="testimonial image"/></div>
        <div class="pic2 col-sm-4 col-xs-12"><img src="./site/img/testimonials/3(1).jpg" alt="testimonial image"/></div>
        <div class="pic3 col-sm-4 col-xs-12"><img src="./site/img/testimonials/3(2).jpg" alt="testimonial image"/></div>
      </div>
    </div>
    <div class="col-md-6 reviews">
      <div class="review">
        <div class="user-review"><i class="fa fa-quote-left fa-border fa-2x pull-left"> </i>visited Darjeeling and Gangtok via Tourepedia.com, an unforgettable experience of my life. 
          Thanks a lot to Tourepedia.
          <p><span class="user-name">By- Shiva garg</span></p>
        </div>
        <div class="user-photo"><img src="./site/img/testimonials/shiva.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg"/></div>
      </div>
      <div class="review">
        <div class="user-review"><i class="fa fa-quote-left fa-border fa-2x pull-left"> </i>The Best part of our Shimla-kufri-chail tour was kufri fun world and overall our trip was very well organised by tourepedia. Thanks a lot for an awesome trip. 
          <p><span class="user-name">By- Nanda Kishore</span></p>
        </div>
        <div class="user-photo"><img src="./site/img/testimonials/mondy.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg"/></div>
      </div>
      <div class="review">
        <div class="user-review"><i class="fa fa-quote-left fa-border fa-2x pull-left"> </i>Had an awesome experience visiting dharamshala and mcleodganj.
          kudos to tourepedia.
          <p><span class="user-name">By- Suyash Yadav</span></p>
        </div>
        <div class="user-photo"><img src="./site/img/testimonials/suyash.jpg" alt="userPhoto" err-src="./site/img/testimonials/user_1.jpg"/></div>
      </div>
    </div>
  </div>
</div>