
<footer class="site-footer">
  <div class="footer-container">
    <div class="information">
      <h2>Information</h2>
      <ul> 
        <li><a ui-sref="aboutUs">About Us</a></li>
        <li><a href="">FAQ</a></li>
        <li><a ui-sref="privacyPolicies">Privacy Policies</a></li>
        <li><a ui-sref="termConditions">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="customer-services">
      <h2>Customer Services</h2>
      <ul> 
        <li><a href="">Cancellation Policies</a></li>
        <li><a href="">Site Map</a></li>
      </ul>
    </div>
    <div class="follow-us"> 
      <h2>Follow Us</h2>
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/tourepedia1">Facebook <i class="fa fa-facebook-f"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/tourepedia">Twitter <i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://plus.google.com/u/0/117918143779041600948">Google  <i class="fa fa-google-plus"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/tourepedia">Linkedin <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="contact-us"> 
      <h2>Contact Us</h2>
      <ul>
        <li>+91-1130323774</li>
        <li>+91-9005505374</li>
        <li>contact@tourepedia.com</li>
      </ul>
    </div>
  </div>
</footer>